@model AdvisingFormsDatabase.Models.Student

@{
    ViewBag.title = "recommendation";
    }


<h2>@ViewBag.title</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    


<p> 
   @Model.FirstName
</p>

@foreach (var c in Model.CoursesRecommended)
{
    <p>c</p>
    <br/>
}