@{
    ViewBag.Title = "AdvisingForm";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3> Computer Science-Pre MBA Concentration </h3>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Math Courses(13 hours)
                    </h3>
                    <span class="pull-right clickable"><i class="glyphicon glyphicon-minus"></i></span>
                </div>
                <div class="panel-body">
                    <table class="table table-striped custab">
                        <thead>
                            <tr>
                                <th>Course</th>
                                <th>Credit Hours</th>
                                <th>Grade</th>
                                <th>Semester</th>
                                <th class="text-center">Action</th>
                            </tr>
                        </thead>
                        <tr>
                            <td>Math 200</td>
                            <td>5</td>
                            <td>A</td>
                            <td>Fall2014</td>
                            <td class="text-center"><a class='btn btn-info btn-xs' href="#"><span class="glyphicon glyphicon-edit"></span> Edit</a> <a href="#" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-plus"></span> Add</a></td>
                        </tr>
                        <tr>
                            <td>Math 201</td>
                            <td>5</td>
                            <td>B</td>
                            <td>Spring2014</td>
                            <td class="text-center"><a class='btn btn-info btn-xs' href="#"><span class="glyphicon glyphicon-edit"></span> Edit</a> <a href="#" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-plus"></span> Add</a></td>
                        </tr>
                        <tr>
                            <td>Math 380</td>
                            <td>3</td>
                            <td>A</td>
                            <td>Fall2015</td>
                            <td class="text-center"><a class='btn btn-info btn-xs' href="#"><span class="glyphicon glyphicon-edit"></span> Edit</a> <a href="#" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-plus"></span> Add</a></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        English Courses(12 hours)
                    </h3>
                    <span class="pull-right clickable"><i class="glyphicon glyphicon-minus"></i></span>
                </div>
                <div class="panel-body">
                    <table class="table table-striped custab">
                        <thead>
                            <tr>
                                <th>Course</th>
                                <th>Credit Hours</th>
                                <th>Grade</th>
                                <th>Semester</th>
                                <th class="text-center">Action</th>
                            </tr>
                        </thead>
                        <tr>
                            <td>ENGL 101</td>
                            <td>3</td>
                            <td>A</td>
                            <td>Fall2014</td>
                            <td class="text-center"><a class='btn btn-info btn-xs' href="#"><span class="glyphicon glyphicon-edit"></span> Edit</a> <a href="#" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-plus"></span> Add</a></td>
                        </tr>
                        <tr>
                            <td>ENGL 102</td>
                            <td>3</td>
                            <td>B</td>
                            <td>Spring2014</td>
                            <td class="text-center"><a class='btn btn-info btn-xs' href="#"><span class="glyphicon glyphicon-edit"></span> Edit</a> <a href="#" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-plus"></span> Add</a></td>
                        </tr>
                        <tr>
                            <td>ENGL 230</td>
                            <td>3</td>
                            <td>A</td>
                            <td>Fall2015</td>
                            <td class="text-center"><a class='btn btn-info btn-xs' href="#"><span class="glyphicon glyphicon-edit"></span> Edit</a> <a href="#" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-plus"></span> Add</a></td>
                        </tr>
                        <tr>
                            <td>ENGL 322</td>
                            <td>3</td>
                            <td>A</td>
                            <td>Fall2015</td>
                            <td class="text-center"><a class='btn btn-info btn-xs' href="#"><span class="glyphicon glyphicon-edit"></span> Edit</a> <a href="#" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-plus"></span> Add</a></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading clickable">
                    <h3 class="panel-title">
                        Natural Sciences(15 hours)
                    </h3>
                    <span class="pull-right "><i class="glyphicon glyphicon-minus"></i></span>
                </div>
                <div class="panel-body">
                    <table class="table table-striped custab">
                        <thead>
                            <tr>
                                <th>Course</th>
                                <th>Credit Hours</th>
                                <th>Grade</th>
                                <th>Semester</th>
                                <th class="text-center">Action</th>
                            </tr>
                        </thead>
                        <tr>
                            <td>ENGL 101</td>
                            <td>3</td>
                            <td>A</td>
                            <td>Fall2014</td>
                            <td class="text-center"><a class='btn btn-info btn-xs' href="#"><span class="glyphicon glyphicon-edit"></span> Edit</a> <a href="#" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-plus"></span> Add</a></td>
                        </tr>
                        <tr>
                            <td>ENGL 102</td>
                            <td>3</td>
                            <td>B</td>
                            <td>Spring2014</td>
                            <td class="text-center"><a class='btn btn-info btn-xs' href="#"><span class="glyphicon glyphicon-edit"></span> Edit</a> <a href="#" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-plus"></span> Add</a></td>
                        </tr>
                        <tr>
                            <td>ENGL 230</td>
                            <td>3</td>
                            <td>A</td>
                            <td>Fall2015</td>
                            <td class="text-center"><a class='btn btn-info btn-xs' href="#"><span class="glyphicon glyphicon-edit"></span> Edit</a> <a href="#" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-plus"></span> Add</a></td>
                        </tr>
                        <tr>
                            <td>ENGL 322</td>
                            <td>3</td>
                            <td>A</td>
                            <td>Fall2015</td>
                            <td class="text-center"><a class='btn btn-info btn-xs' href="#"><span class="glyphicon glyphicon-edit"></span> Edit</a> <a href="#" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-plus"></span> Add</a></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading clickable">
                    <h3 class="panel-title">
                        Computer Science(45 hours)
                    </h3>
                    <span class="pull-right "><i class="glyphicon glyphicon-minus"></i></span>
                </div>
                <div class="panel-body">
                    <table class="table table-striped custab">
                        <thead>
                            <tr>
                                <th>Course</th>
                                <th>Credit Hours</th>
                                <th>Grade</th>
                                <th>Semester</th>
                                <th class="text-center">Action</th>
                            </tr>
                        </thead>
                        <tr>
                            <td>ENGL 101</td>
                            <td>3</td>
                            <td>A</td>
                            <td>Fall2014</td>
                            <td class="text-center"><a class='btn btn-info btn-xs' href="#"><span class="glyphicon glyphicon-edit"></span> Edit</a> <a href="#" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-plus"></span> Add</a></td>
                        </tr>
                        <tr>
                            <td>ENGL 102</td>
                            <td>3</td>
                            <td>B</td>
                            <td>Spring2014</td>
                            <td class="text-center"><a class='btn btn-info btn-xs' href="#"><span class="glyphicon glyphicon-edit"></span> Edit</a> <a href="#" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-plus"></span> Add</a></td>
                        </tr>
                        <tr>
                            <td>ENGL 230</td>
                            <td>3</td>
                            <td>A</td>
                            <td>Fall2015</td>
                            <td class="text-center"><a class='btn btn-info btn-xs' href="#"><span class="glyphicon glyphicon-edit"></span> Edit</a> <a href="#" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-plus"></span> Add</a></td>
                        </tr>
                        <tr>
                            <td>ENGL 322</td>
                            <td>3</td>
                            <td>A</td>
                            <td>Fall2015</td>
                            <td class="text-center"><a class='btn btn-info btn-xs' href="#"><span class="glyphicon glyphicon-edit"></span> Edit</a> <a href="#" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-plus"></span> Add</a></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Courses for Fall2016
                    </h3>
                </div>
                <div class="panel-body">
                    <table class="table table-striped custab">
                        <thead>
                            <tr>
                                <th>Course</th>
                                <th>Credit Hours</th>
                                <th>Semester</th>
                                <th class="text-center">Action</th>
                            </tr>
                        </thead>
                        <tr>
                            <td>Math 200</td>
                            <td>5</td>
                            <td>Fall2014</td>
                            <td class="text-center"><a class='btn btn-info btn-xs' href="#"><span class="glyphicon glyphicon-edit"></span> Edit</a> <a href="#" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-plus"></span> Add</a></td>
                        </tr>
                        <tr>
                            <td>Math 201</td>
                            <td>5</td>
                            <td>Spring2014</td>
                            <td class="text-center"><a class='btn btn-info btn-xs' href="#"><span class="glyphicon glyphicon-edit"></span> Edit</a> <a href="#" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-plus"></span> Add</a></td>
                        </tr>
                        <tr>
                            <td>Math 380</td>
                            <td>3</td>
                            <td>Fall2015</td>
                            <td class="text-center"><a class='btn btn-info btn-xs' href="#"><span class="glyphicon glyphicon-edit"></span> Edit</a> <a href="#" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-plus"></span> Add</a></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!----For Course Listing by semester------>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3> Course listing by Semester </h3>
        </div>
        <div id="content">
            <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
                <li class="active"><a href="#Fall2010" data-toggle="tab">Fall2010</a></li>
                <li><a href="#Spring2011" data-toggle="tab">Spring2011</a></li>
                <li><a href="#Fall2011" data-toggle="tab">Fall2011</a></li>
                <li><a href="#Spring2012" data-toggle="tab">Spring2012</a></li>
                <li><a href="#Fall2012" data-toggle="tab">Fall2012</a></li>

            </ul>
            <div id="my-tab-content" class="tab-content">
                <div class="tab-pane active" id="Fall2010">
                    <table class="table table-striped custab">
                        <thead>
                            <tr>
                                <th>Course</th>
                                <th>Credit Hours</th>
                                <th>Grade</th>
                                <th>Semester</th>
                                <th class="text-center">Action</th>
                            </tr>
                        </thead>
                        <tr>
                            <td>Math 200</td>
                            <td>5</td>
                            <td>A</td>
                            <td>Fall2014</td>
                            <td class="text-center"><a class='btn btn-info btn-xs' href="#"><span class="glyphicon glyphicon-edit"></span> Edit</a> <a href="#" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-user"></span> Professor</a></td>
                        </tr>
                        <tr>
                            <td>Math 201</td>
                            <td>5</td>
                            <td>B</td>
                            <td>Spring2014</td>
                            <td class="text-center"><a class='btn btn-info btn-xs' href="#"><span class="glyphicon glyphicon-edit"></span> Edit</a> <a href="#" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-user"></span> Professor</a></td>
                        </tr>
                        <tr>
                            <td>Math 380</td>
                            <td>3</td>
                            <td>A</td>
                            <td>Fall2015</td>
                            <td class="text-center"><a class='btn btn-info btn-xs' href="#"><span class="glyphicon glyphicon-edit"></span> Edit</a> <a href="#" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-user"></span> Professor</a></td>
                        </tr>
                    </table>
                </div>
                <div class="tab-pane" id="Spring2011">
                    <table class="table table-striped custab">
                        <thead>
                            <tr>
                                <th>Course</th>
                                <th>Credit Hours</th>
                                <th>Grade</th>
                                <th>Semester</th>
                                <th class="text-center">Action</th>
                            </tr>
                        </thead>
                        <tr>
                            <td>Math 200</td>
                            <td>5</td>
                            <td>A</td>
                            <td>Fall2014</td>
                            <td class="text-center"><a class='btn btn-info btn-xs' href="#"><span class="glyphicon glyphicon-edit"></span> Edit</a> <a href="#" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-user"></span> Professor</a></td>
                        </tr>
                        <tr>
                            <td>Math 201</td>
                            <td>5</td>
                            <td>B</td>
                            <td>Spring2014</td>
                            <td class="text-center"><a class='btn btn-info btn-xs' href="#"><span class="glyphicon glyphicon-edit"></span> Edit</a> <a href="#" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-user"></span> Professor</a></td>
                        </tr>
                        <tr>
                            <td>Math 380</td>
                            <td>3</td>
                            <td>A</td>
                            <td>Fall2015</td>
                            <td class="text-center"><a class='btn btn-info btn-xs' href="#"><span class="glyphicon glyphicon-edit"></span> Edit</a> <a href="#" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-user"></span> Professor</a></td>
                        </tr>
                    </table>
                </div>
                <div class="tab-pane" id="Fall2011">
                    <table class="table table-striped custab">
                        <thead>
                            <tr>
                                <th>Course</th>
                                <th>Credit Hours</th>
                                <th>Grade</th>
                                <th>Semester</th>
                                <th class="text-center">Action</th>
                            </tr>
                        </thead>
                        <tr>
                            <td>Math 200</td>
                            <td>5</td>
                            <td>A</td>
                            <td>Fall2014</td>
                            <td class="text-center"><a class='btn btn-info btn-xs' href="#"><span class="glyphicon glyphicon-edit"></span> Edit</a> <a href="#" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-user"></span> Professor</a></td>
                        </tr>
                        <tr>
                            <td>Math 201</td>
                            <td>5</td>
                            <td>B</td>
                            <td>Spring2014</td>
                            <td class="text-center"><a class='btn btn-info btn-xs' href="#"><span class="glyphicon glyphicon-edit"></span> Edit</a> <a href="#" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-user"></span> Professor</a></td>
                        </tr>
                        <tr>
                            <td>Math 380</td>
                            <td>3</td>
                            <td>A</td>
                            <td>Fall2015</td>
                            <td class="text-center"><a class='btn btn-info btn-xs' href="#"><span class="glyphicon glyphicon-edit"></span> Edit</a> <a href="#" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-user"></span> Professor</a></td>
                        </tr>
                    </table>
                </div>
                <div class="tab-pane" id="Spring2012">
                    <table class="table table-striped custab">
                        <thead>
                            <tr>
                                <th>Course</th>
                                <th>Credit Hours</th>
                                <th>Grade</th>
                                <th>Semester</th>
                                <th class="text-center">Action</th>
                            </tr>
                        </thead>
                        <tr>
                            <td>Math 200</td>
                            <td>5</td>
                            <td>A</td>
                            <td>Fall2014</td>
                            <td class="text-center"><a class='btn btn-info btn-xs' href="#"><span class="glyphicon glyphicon-edit"></span> Edit</a> <a href="#" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-user"></span> Professor</a></td>
                        </tr>
                        <tr>
                            <td>Math 201</td>
                            <td>5</td>
                            <td>B</td>
                            <td>Spring2014</td>
                            <td class="text-center"><a class='btn btn-info btn-xs' href="#"><span class="glyphicon glyphicon-edit"></span> Edit</a> <a href="#" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-user"></span> Professor</a></td>
                        </tr>
                        <tr>
                            <td>Math 380</td>
                            <td>3</td>
                            <td>A</td>
                            <td>Fall2015</td>
                            <td class="text-center"><a class='btn btn-info btn-xs' href="#"><span class="glyphicon glyphicon-edit"></span> Edit</a> <a href="#" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-user"></span> Professor</a></td>
                        </tr>
                    </table>
                </div>
                <div class="tab-pane" id="Fall2012">
                    <table class="table table-striped custab">
                        <thead>
                            <tr>
                                <th>Course</th>
                                <th>Credit Hours</th>
                                <th>Grade</th>
                                <th>Semester</th>
                                <th class="text-center">Action</th>
                            </tr>
                        </thead>
                        <tr>
                            <td>Math 200</td>
                            <td>5</td>
                            <td>A</td>
                            <td>Fall2014</td>
                            <td class="text-center"><a class='btn btn-info btn-xs' href="#"><span class="glyphicon glyphicon-edit"></span> Edit</a> <a href="#" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-user"></span> Professor</a></td>
                        </tr>
                        <tr>
                            <td>Math 201</td>
                            <td>5</td>
                            <td>B</td>
                            <td>Spring2014</td>
                            <td class="text-center"><a class='btn btn-info btn-xs' href="#"><span class="glyphicon glyphicon-edit"></span> Edit</a> <a href="#" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-user"></span> Professor</a></td>
                        </tr>
                        <tr>
                            <td>Math 380</td>
                            <td>3</td>
                            <td>A</td>
                            <td>Fall2015</td>
                            <td class="text-center"><a class='btn btn-info btn-xs' href="#"><span class="glyphicon glyphicon-edit"></span> Edit</a> <a href="#" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-user"></span> Professor</a></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


