@model IEnumerable<AdvisingFormsDatabase.Models.BaseCourse>

@{
    ViewBag.Title = "Details";
}

<h2>Concentration </h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@Html.Partial("_Concentrationview",Model)


