@model AdvisingFormsDatabase.Models.Concentration


@{
    ViewBag.Title = "Details";
}

<h2>Concentration @Model.Name</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@Html.Partial("_Concentrationview",Model.RequiredCourses)


